MYSQL_ROOT_PASSWORD=change-me
MYSQL_DATABASE=petclinic
MYSQL_USER=petclinic
MYSQL_PASSWORD=petclinic
DB_HOST=mysql
DB_PORT=3306
DB_NAME=petclinic
DB_USERNAME=petclinic
DB_PASSWORD=petclinic
SERVER_PORT=8080
